name: Unseal Vault
on:
  workflow_dispatch:
    inputs:
      deploy_environment:
        type: choice
        description: Do you want to unseal the vault in dev or prod?
        required: true
        options: 
        - dev
        - prod

      unseal_key:
        type: string
        description: Key used to unseal the vault
        required: true

jobs:

  coordinator:
    runs-on: ci
    steps:

      - name: Configure runner settings
        id: runner-settings
        run: |
          if [[ "${{ inputs.deploy_environment }}" == "prod" ]]; then
            echo '::set-output name=runner-label::cd'
            echo '::set-output name=container-options::--dns 137.132.90.2 --dns 137.132.85.2 --dns 8.8.8.8'

          else
            echo '::set-output name=runner-label::cd-test'
            echo '::set-output name=container-options::--dns 192.168.1.101 --dns 8.8.8.8'
          fi
    
    outputs:
      runner-label: "${{ steps.runner-settings.outputs.runner-label }}"
      container-options: "${{ steps.runner-settings.outputs.container-options }}"
  
  unseal:
    needs: coordinator
    runs-on: ${{ needs.coordinator.outputs.runner-label }}
    container: 
      image: willhallonline/ansible:2.12-ubuntu-20.04
      options: ${{ needs.coordinator.outputs.container-options }}

    steps:
      - name: Cleanup build folder
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./

      - name: Check installation
        run: |
          ansible --version

      - name: Clone repo
        uses: actions/checkout@v3

      - name: Retrieve relevant secrets
        id: secrets
        run: |
          if [[ "${{ inputs.deploy_environment }}" == "prod" ]]; then
            echo '::set-output name=vault-token::${{ secrets.VAULT_TOKEN_PROD }}'
          else
            echo '::set-output name=vault-token::${{ secrets.VAULT_TOKEN_DEV }}'
          fi

      - name: Unseal Vault
        uses: dawidd6/action-ansible-playbook@v2
        env:
          VAULT_TOKEN: ${{ steps.secrets.outputs.vault-token }}
          UNSEAL_KEY: ${{ inputs.unseal_key }}
        with:
          playbook: playbooks/unseal_vault.yml
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          options: |
            --inventory hosts_prod.yml
